/* stylelint-disable at-rule-no-unknown */
@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: 'Poppins', system-ui, sans-serif;
  --font-serif: 'Playfair Display', serif;
}

@theme {
  --color-accent: #bf98ff;
  --color-bg: #f1f1f1;
  --color-text: #1f1f1f;
  --color-text-gray: #5d5d5d;
}
